/* Universal Rules */
@font-face {
    font-family: Roboto;
    src: url(Resources/Roboto-Regular.ttf);
}
* {
    font-family: 'Roboto';
}
/* Body Styling */
body{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
}
body div {
    display: flex;
    justify-content: center;
    flex: 1;
}
/* Header & Hero Styling */
.header {
    background-color: #1F2937;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}
.header div {
    background-color: #1F2937;
    justify-content: center;
}
.header a {
    
}
.header #logo {
    justify-content: left;
}
.header .title p {
    color: #F9FAF8;
    font-weight: bolder;
}
.header #links {
    justify-content: flex-end;
}
.header #links a {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: #E5E7EB;
    font-size: small;
}
/* Upper Body Styling */
.topBody {
    background-color: white;
}
/* Main Body Styling */
.mainBody {
    background-color: lightgray;
}