@font-face {
    font-family: 'Roboto';
    src: url(C:\Odin-Project\Landing_Page\Resources);
}
* {
    display: flex;
    font-family: 'Roboto';
}
body {
    display: flex;
}
.footer,
.header {
    background-color: #1F2937;
}
.lowerBody,
.topBody {
    background-color: white;
}
.mainBody {
    background-color: lightgray;
}